

#navlogo{
	width: 250px;
}

#zuitterNav{
	font-weight: bold;
}

#createNew{
	color:white;
	font-weight: bold;
}

#create{
	background-color: red;
	font-weight: bold;
}

#submitbtn{
	background-color: red;
	font-weight: bold;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

