#bookNowBtn{
	background-color: red;
}

#navlogo{
	width: 250px;
}

#zuitterNav{
	font-weight: bold;
}

#madeEasy{
	font-weight: bold;
	font-size: 50px;
	color: white;
}

.lead{
	font-size: 25px;
	font-weight: bold;
	color: white;
}

#cardLanding{
	border: none;
	background-color: #ff3333;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1
}

header{
	z-index: 1;
}

#borderP{
	border: none;
}